:root {
  background-color: black;
}

.landing-page__illo {
  max-width: 100%;
}

.disclaimer-kill {
  padding-bottom: 0;
  font-weight: normal;
}

.company {
  font-weight: lighter;
}

.landing-page__r2 {
  margin-top: rem(-40px);
}

.image-frame {
  text-align: center;
  margin-bottom: 10px;
}

.black-link {
  color: black !important;
}

.no-fill .bx--loading__svg {
  fill: none !important;
}

.no-decoration-link {
  text-decoration: none !important;
}

.no-decoration-link:hover {
  text-decoration: none !important;
}

.scroll-offset {
  margin-top: -80px;
  padding-top: 80px;
}

.bx--modal-container {
  position: sticky;
  top: 3rem;
}

.bx--body--with-modal-open header {
  display: none;
}

.bx--accordion--start .bx--accordion__content {
  margin-right: 1.5rem;
}

.bx--side-nav__header-navigation {
  display: block;
}

.bx--side-nav__items {
  padding: 0;
}

.offset {
  min-height: 100vh;
  margin-left: 50px;
  padding-bottom: 100px;

  @media (min-width: '720px') {
    padding-top: 50px;
    padding-left: 50px;
  }
}

.offset-progress-area {
  margin-left: 25px;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 55px;
  min-height: 100vh;
}
