.explore-tags {
  border: none;
  border-radius: 0;
  margin-right: 10px;
  margin-left: 0;
}

.number-tag {
  background-color: #f4f4f4;
  color: #216efe;
}

.number-tag:hover {
  cursor: default;
}

.planning {
}
